<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .aaa {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="students" th:fragment="students">
    <el-table
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            border>
        <el-table-column
                prop="ID"
                label="号码"
                width="180">
        </el-table-column>
        <el-table-column
                prop="NAME"
                label="姓名"
                width="180">
        </el-table-column>
        <el-table-column
                prop="SEX"
                label="性别">
        </el-table-column>
        <el-table-column
                prop="BIRTH"
                label="生日">
        </el-table-column>
        <el-table-column
                prop="POLITILY"
                label="专业">
        </el-table-column>
    </el-table>
    <el-pagination
            background
            layout="total,prev, pager, next"
            :total="total"
            @current-change="handleCurrentChange"
            class="aaa"
    >
    </el-pagination>
</div>
</body>
<!--<script type="text/javascript" th:inline="javascript">-->
<!--    // var total = [[${total}]];-->
<!--    // var tableData = [[${tableData}]];-->
<!--</script>-->
<script>
    new Vue({
        el: '#students',
        data: {
            tableRowClassName:"表格",
            total: 1000,
            tableData: [{
                "ID": "767",
                "NAME": "醉巧",
                "SEX": "女性",
                "BIRTH": "1998-01-12",
                "POLITILY": "绘画（专业基础）"
            }, {"ID": "768", "NAME": "雅香", "SEX": "男性", "BIRTH": "1991-05-28", "POLITILY": "中外美术史"}, {
                "ID": "769",
                "NAME": "忆枫",
                "SEX": "男性",
                "BIRTH": "1991-06-24",
                "POLITILY": "建筑欣赏"
            }, {"ID": "770", "NAME": "雪瑶", "SEX": "女性", "BIRTH": "1996-07-27", "POLITILY": "实验性雕塑 "}, {

                "ID": "771",
                "NAME": "靖柔",
                "SEX": "女性",
                "BIRTH": "1994-10-25",
                "POLITILY": "设计概论"
            }, {"ID": "772", "NAME": "问风", "SEX": "男性", "BIRTH": "1996-09-24", "POLITILY": "中国话剧"}, {

                "ID": "773",
                "NAME": "雪绿",
                "SEX": "女性",
                "BIRTH": "1991-01-12",
                "POLITILY": "图形设计"
            }, {"ID": "774", "NAME": "诗槐", "SEX": "女性", "BIRTH": "1990-08-04", "POLITILY": "中国传统雕塑"}, {

                "ID": "775",
                "NAME": "寄蓝",
                "SEX": "男性",
                "BIRTH": "1998-07-12",
                "POLITILY": "现代雕塑"
            }, {"ID": "776", "NAME": "山雁", "SEX": "男性", "BIRTH": "1998-12-14", "POLITILY": "名画解析"}]
        },
        created: function () {
            var _this = this
            axios.get('/getage?age=1')
                .then(function (response) {
                    console.log("OK")
                    console.log(JSON.stringify(response.data))
                    _this.tableData = response.data
                    _this.total = 30
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            handleCurrentChange(val) {
                var _this = this
                axios.get('/getage?age=' + val)
                    .then(function (response) {
                        _this.tableData = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 2 == 0) {
                    return 'warning-row';
                } else {
                    return 'success-row';
                }
                return '';
            }
        }
    })
</script>
</html>