<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        html,
        body,
        #index,
        el-container {
            padding: 0px;
            height: 100%;
            margin: 0px
        }
    </style>
</head>
<body>
<div id="index">
<!--    <div th:text="${name}">sss</div>-->
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <div th:include="aside/aside :: aside"/>
        </el-aside>
        <el-container>
            <el-header style="text-align: center;font-size: 40px;color: darkolivegreen">
                <div th:include="head/head :: main"/>
            </el-header>
            <el-main id="mains">
                <div th:include="main/students :: students"/>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#index',
        data: {},
        created: function () {

        },
        methods: {}
    })
</script>
</html>
