<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>侧边栏</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .img {
            height: 40px;
            width: 40px;
            border-radius: 25%;
            float: right;
        }
    </style>
</head>
<body>
<div id="aside" th:fragment="aside">
    <el-menu>
        <el-submenu index="1">
            <template slot="title">分组一</template>
            <el-menu-item-group>
                <el-menu-item index="1-1" @click="get()">选项1</el-menu-item>
                <el-menu-item index="1-2" @click="get()">选项2</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
    </el-menu>
</div>
</body>

<script>
    new Vue({
        el: '#aside',
        data: {
            aside: ''
        },
        created: function () {
        },
        methods: {
            get() {
                document.getElementById("mains").innerHTML = "<p>段落</p>";
            }
        }
    })
</script>
</html>
